/* CSS RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* DARK MODE */

#dark {
  background-color: #5f264a;
  color: #f4eee0;
}

/* ---mobile view--- */

@media (max-width: 600px) {
  .footer {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 5px;
  }
}
